body{
    background-color: aqua;
    font-family: 'Times New Roman' ;
}
#contact{
    background-color: black;
    margin-top: 20px;
    color: white;
    padding: 50px;
    border-radius: 10px;
}
#all{
    margin: 10px;
}
a{
    color: white;
}
.btn-primary{
    color: black;
    background-color: white;
    border-radius: 0px;
    border-style: none;
}
.btn-primary:hover{
    color: black;
    background-color: rgb(80, 78, 78);
    border-radius: 0px;
}
